<html xmlns:th="http://www.thymeleaf.org">

<ul th:each="infraction : ${infractions}" class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-10">
                <p>DNI: <span th:text="${infraction.dni}"></span></p>
                <p>PlACA: <span th:text="${infraction.placa}"></span></p>
                <p>PlACA: <span th:text="${infraction.fecha}"></span></p>
                <p>INFRACCIÓN: <span th:text="${infraction.infraction}"></span></p>
                <p>DESCRIPCIÓN: <span th:text="${infraction.descripcion}"></span></p>
            </div>
            <div class="col-2">
                <button
                        class="btn btn-danger"
                        type="button"
                        th:attr="hx-delete=@{/infractions/htmx/delete/remove/?id={id}(id=${infraction.id})}"
                        hx-trigger="click"
                        hx-confirm="¿Estas Seguro?"
                >Eliminar</button>

                <button
                        class="btn btn-primary"
                        type="button"
                        th:attr="hx-get=@{/infractions/htmx/update/?id={id}(id=${infraction.id})}"
                        hx-trigger="click"
                        hx-target="#bloque-actualizar"
                        hx-swap="innerHTML"
                >Modificar
                </button>
            </div>
        </div>
    </li>
</ul>

<div th:if="${infractions.isEmpty()}">
    <p>La lista está vacía ... =/!</p>
</div>