<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>crud-htmx</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">My content page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap-grid.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/dist/css/bootstrap-reboot.css}">
    <script th:src="@{/htmx/htmx.js}"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-primary mb-3">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Crud + HTMX</span>
    </div>
</nav>

<div class="container" layout:fragment="content"></div>

</body>
</html>