<html xmlns:th="http://www.thymeleaf.org">

<ul th:each="persona : ${personas}" class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-10">
                <p>Nombre: <span th:text="${persona.firstName}"></span></p>
                <p>Apellido: <span th:text="${persona.lastName}"></span></p>
                <p>Edad: <span th:text="${persona.age}"></span></p>
            </div>
            <div class="col-2">
                <button
                        class="btn btn-danger"
                        type="button"
                        th:attr="hx-delete=@{/personas/htmx/delete/remove/?id={id}(id=${persona.id})}"
                        hx-trigger="click"
                        hx-confirm="¿Estas Seguro?"
                >Eliminar</button>

                <button
                        class="btn btn-primary"
                        type="button"
                        th:attr="hx-get=@{/personas/htmx/update/?id={id}(id=${persona.id})}"
                        hx-trigger="click"
                        hx-target="#bloque-actualizar"
                        hx-swap="innerHTML"
                >Modificar
                </button>
            </div>
        </div>
    </li>
</ul>

<div th:if="${personas.isEmpty()}">
    <p>La lista está vacía ... =/!</p>
</div>