<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{mainLayout}"
>
<head>
    <title th:text="${titulo}"></title>
</head>
<body>

<div layout:fragment="content">

    <div class="row mb-3">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Nueva Persona
                </div>
                <div class="card-body">

                    <div hx-get="/infractions/htmx/get/add"
                         hx-trigger="load"
                         hx-swap="innerHTML"
                         hx-target="this"
                    >
                        bloque nueva persona...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Actualizar Datos
                </div>
                <div class="card-body">
                    <div id="bloque-actualizar">
                        Seleccione una infraccion .....
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            Lista de Personas
        </div>
        <div class="card-body">
            <div hx-get="/infractions/htmx/get/all"
                 hx-trigger="load, reloadListOfInfractions from:body"
                 hx-target="this"
                 hx-swap="innerHTML"
            >
                ... bloque de lista de Infracciones
            </div>
        </div>
    </div>
</div>

</body>
</html>